@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-bg-base: #000000;
  --color-surface: #0d0d0d;
  --color-border-subtle: #262626;
  --color-text-main: #ffffff;
  --color-text-muted: #a3a3a3;
}

@layer base {
  body {
    @apply bg-bg-base text-text-main font-sans antialiased selection:bg-white selection:text-black;
  }
  
  * {
    @apply border-border-subtle;
    border-radius: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none !important;
  }
}

.cursor-invert-active {
  color: #fff !important;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  background: #fff;
  pointer-events: none;
  z-index: 2147483647;
  mix-blend-mode: difference;
  transform: translate3d(0, 0, 0);
}

@media (hover: none) and (pointer: coarse) {
  .custom-cursor {
    display: none;
  }
}